header { width: 100%; height: 60px; background: rgb(0,0,0); }

section.hero { width: 100%; height: 400px; background: rgb(200,200,200); }

section.features { width: 940px; height: 450px; background: rgb(150,150,150); margin: 0 auto; }

section.organize { width: 100%; height: 300px; background: rgb(200,200,200); }

section.share { width: 940px; height: 300px; background: rgb(150,150,150); margin: 0 auto; }

section.get { width: 100%; height: 100px; background: rgb(0,0,0); }

footer { width: 100%; height: 60px; background: rgb(200,200,200); }