body { margin: 0;}

header { width: 100%; height: 60px; background: rgb(0,0,0); 
		padding: 5px 0; /*padding is space inside*/
		margin-bottom: 5px; } /*margin-bottom is space outside and bottom*/
		
section.hero { width: 100%; height: 400px; background: rgb(200,200,200); 
		padding: 5px 0;
		margin-bottom: 5px; }
	
section.features { width: 940px; height: 450px; background: rgb(150,150,150); 
		margin: 0 auto 5px; /*margin is space outside: top, left-right, bottom*/
		padding: 5px 0;} 

section.organize { width: 100%; height: 300px; background: rgb(200,200,200); 
		padding: 5px 0;
		margin-bottom: 5px; }

section.share { width: 940px; height: 300px; background: rgb(150,150,150); 
		margin: 0 auto 5px; 
		padding: 5px 0;}

section.get { width: 100%; height: 100px; background: rgb(0,0,0); 
		padding: 5px 0;
		margin-bottom: 5px; }

/*create container inside header, hero, organize, get and footer*/
.container { width: 940px; height: 100%; background: rgb(225,225,225); 
		margin: 0 auto;} 

footer { width: 100%; height: 60px; background: rgb(200,200,200); padding: 5px 0;}

/********************************** END FILE *****************************************/