/*UTILITY*/
.floatleft { float: left; } /*begin with '.' is a class*/
.floatright { float: right; }

body { margin: 0; font-family: Verdana, sans-serif; color: rgb(100,100,100); }

/*STRUCTURE*/
header { width: 100%; height: 60px; background: rgb(0,0,0); 
		padding: 5px 0; /*padding is space inside*/
		margin-bottom: 5px; } /*margin-bottom is space outside and bottom*/
		
	#logo { width: 200px; height: 60px; background: rgb(200,200,200); float: left; } /* '#' to call an id */
	
	nav { float: left; margin-left: 340px; }
	nav li { display: inline; margin-right: 20px; font-weight: bold; font-size; 18px; }
	
	.button { width: 150px; height: 30px; background: rgb(200,200,200); text-align: center; 
				padding: 15px 5px 5px; 
				margin: 5px 5px 0 0; 
				border: 1px solid rgb(150,150,150); border-radius: 5px; }
		
section.hero { width: 100%; height: 400px; background: rgb(200,200,200); 
		padding: 5px 0;
		margin-bottom: 5px; }
	
	.heroimage { width: 480px; height: 380px; background: rgb(150,150,150); float: left; margin: 10px 0 0 20px; }
	.herocontent { width: 400px; float: left; margin-left: 20px; padding-top: 40px; background: rgb(150,150,150); }
	
	section.hero h1 { font-size: 30px; margin-bottom: -10px; }
	section.hero p { margin-bottom: 60px; }
	section.hero .button { width: 225px; height: 40px; padding-top: 25px; font-size: 20px; }
	
section.features { width: 940px; height: 450px; background: rgb(150,150,150); 
		margin: 0 auto 5px; /*margin is space outside: top, left-right, bottom*/
		padding: 5px 0;} 

section.organize { width: 100%; height: 300px; background: rgb(200,200,200); 
		padding: 5px 0;
		margin-bottom: 5px; }

section.share { width: 940px; height: 300px; background: rgb(150,150,150); 
		margin: 0 auto 5px; 
		padding: 5px 0;}

section.get { width: 100%; height: 100px; background: rgb(0,0,0); 
		padding: 5px 0;
		margin-bottom: 5px; }

/*create container inside header, hero, organize, get and footer*/
.container { width: 940px; height: 100%; background: rgb(225,225,225); 
		margin: 0 auto;} 

footer { width: 100%; height: 60px; background: rgb(200,200,200); padding: 5px 0;}

/********************************** END FILE *****************************************/
